/* Overall Layout */
.postHolder {
    min-height: 100vh;
    width: 100%;
    background: url('../../../assets/background.jpg') center repeat;
    background-size: 100% auto;
    padding: 10px 0;
}

/* Loading and Error Messages */
#loadingMessage, #errorMessage {
    background-color: white;
    height: 51px;
    line-height: 51px;
    text-align: center;
    font-family: 'Tahoma', 'Impact', 'Arial Black', sans-serif;
    font-weight: bold;
    margin: 0;
    position: relative;
    bottom: 10px;
}

/* Post Display */
.postFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 17%;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s ease;
    border-radius: 5px;
}
.postFlex:hover {
    background-color: rgb(234, 234, 234);
}

.post {
    text-align: left;
    margin: 20px;
}

/* Data Above Post Title */
.aboveTitle, .belowTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 25px;
    color: #5c6c74;
}
.postTime, .postUpvotes, .postComments, .postSubReddit {
    font-size: 0.8rem;
}
.postSubReddit {
    font-weight: 700;
}
.circle-divider {
    width: 2px;
    height: 2px;
    background-color: #5c6c74;
    border-radius: 50%;
}

/* Post Title */
.postTitle {
    font-size: 1.2rem;
    font-weight: 700;
}

/* Thumbnail */
.thumbnailContainer {
    height: 140px;
    width: 140px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.postThumbnail {
    border-radius: 15px;
}

/* Media Queries */
@media (max-width: 700px) {
    .thumbnailContainer {
        display: none;
    }
    .postFlex {
        margin: 20px 10%;
    }
}
