.subreddits-dropdown {
    position: relative;
    display: inline-block;
}
  
.subreddits-button {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: black;
    height: 51px;
    font-family: 'Tahoma', 'Impact', 'Arial Black', sans-serif;
}
  
.subreddits-list {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-width: calc(100vw - 20px); /* Prevent overflow off the page */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2000;
    left: 50%;
    transform: translateX(-50%);
    top: 51px;
    overflow-x: hidden; /* Prevent horizontal overflow */
    white-space: nowrap; /* Prevent text wrapping */
}
  
.subreddits-dropdown:hover .subreddits-list {
    display: block;
}

.toggle-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    transition: color 0.3s ease;
}
  
.subreddit-item, .toggleFlex {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap; /* Prevent text wrapping */
    cursor: pointer;
}
.subreddit-item:hover, .toggle-button:hover {
    background-color: #cccccc;
}


/* Title styling */
.toggle-title {
    margin-right: 8px; /* Space between title and arrow */
    padding: 0;
    margin: 0;
    font-family: 'Tahoma', 'Impact', 'Arial Black', sans-serif;
    font-weight: bold;
}

/* Arrow styling */
.toggle-arrow {
    transition: transform 0.6s ease; /* Smooth rotation transition */
    font-size: 1.2rem; /* Adjust font size as needed */
    padding: 0;
    margin: 0;
}

/* Rotation for the arrow when visible */
.toggle-arrow.up {
    transform: rotate(180deg); /* Rotate up arrow to point down */
}

/* Rotation for the arrow when hidden */
.toggle-arrow.down {
    transform: rotate(0deg); /* Default rotation for down arrow */
}
  
.remove-button {
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding-bottom: 5px;
    padding-left: 6px;
    font-size: 2rem;
    width: 20px; 
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    line-height: 1; /* Ensures the minus sign is vertically centered */
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #ff4400;
    color: white; /* Changes minus sign color to white when hovered over */
}

.subreddit-item {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    white-space: nowrap; /* Prevent text wrapping */
    cursor: pointer;
}

.subreddit-icon {
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    border-radius: 50%;
    margin-right: 10px;
}

.subredditWithIcon {
    display: flex;
    align-items: center;
    justify-content: start;
}



/* Subreddit Search Bar */
.subredditSearch {
    width: 100%; /* Make the search bar take up the full width */
    box-sizing: border-box;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.search-input {
    flex-grow: 1;
    padding: 8px;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #f9f9f9; /* Matches the dropdown background */
    color: #333;
}

.search-input::placeholder {
    color: #999;
}

.search-input:focus {
    background-color: #e9e9e9; /* Slightly darker background when focused */
}

.search-results {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    overflow-y: auto;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
}

.search-results li {
    padding: 8px 16px;
    cursor: pointer;
    background-color: #f1f1f1;
    white-space: nowrap;
}

.search-results li:hover {
    background-color: #cccccc;
}
