/* Styling for the parent form */
.searchBarForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 50%;
    background-color: white;
    border-radius: 15px;
    padding: 0 5px;
}

.search-subreddit-container {
    display: flex;
    gap: 6px;
    background-color: #ff4400;
    padding: 5px 10px;
    border-radius: 25px;
    color: white;
    align-items: center;
    justify-content: space-around;
    font-size: 0.7rem;
    font-weight: bold;
}
  
.resetButton {
    background-color: black;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50%; /* Makes the button circular */
    width: 18px; /* Adjust size as needed */
    height: 18px; /* Adjust size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth color transitions */
    display: flex; /* Initially hidden; will be overridden by JS */
}
.resetButton:hover {
    background-color: rgba(0, 0, 0, 0.634); /* Black background on hover */
    color: white; /* White X on hover */
}

/* Subreddit Icon */
.searchSubredditIcon {
    width: 24px; /* Adjust size as needed */
    height: 24px; /* Adjust size as needed */
    border-radius: 50%;
}


  
/* Search input */
.searchInput {
    flex-grow: 1;
    font-size: 0.9rem;
    border: none; /* Remove default border */
    padding: 10px 0;
    margin: 1px 0; /* Remove default margin */
    margin-left: 5px;
    background: none; /* Remove default background */
    color: inherit; /* Inherit text color from parent */
    outline: none; /* Remove focus outline */
    min-width: none;
}

/* Autofill styling for WebKit browsers (Chrome, Safari) */
.searchInput:-webkit-autofill {
    background: inherit !important; /* Ensure background matches parent */
    -webkit-text-fill-color: inherit !important; /* Match text color */
    border: none; /* Ensure border is consistent */
    box-shadow: 0 0 0px 1000px white inset !important; /* Force a white background */
}
/* Autofill styling for Firefox */
.searchInput:-moz-autofill {
    background: inherit !important; /* Ensure background matches parent */
    color: inherit !important; /* Match text color */
    border: none; /* Ensure border is consistent */
    box-shadow: 0 0 0px 1000px white inset !important; /* Force a white background */
}
 
.searchButton {
    border: none;
    background: none;
    cursor: pointer;
}



  