.logo-container {
    position: relative;
    margin: 5px;
}

.logo-button {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #dcd4c9;
    padding: 0;
    font-family: 'Tahoma', 'Impact', 'Arial Black', sans-serif;
    font-weight: bold;
}

.logo-button:hover {
    text-decoration: underline;
    color: #ff4400;
    cursor: pointer;
}

